/* Google font */
@import url('https://fonts.googleapis.com/css?family=Inconsolata');

#clock {
  font-family: 'Frutiger', sans-serif;
  color: #114499;
  font-size: 72px;
  text-align: center;
}

#clock2 {
  font-family: 'Frutiger', sans-serif;
  color: #114499;
  font-size: 72px;
  text-align: center;
}

/* CSS Overrides */

.border-primary {
  border-color: #7ccce1 !important;
}

.border-secondary {
  border-color: #114499 !important;
}

.text-primary {
  color: #7ccce1 !important;
}

.text-secondary {
  color: #114499 !important;
}

.lead {
  font-size: 2rem;
}
