/* Google font */
@import url('https://fonts.googleapis.com/css?family=Inconsolata');

#clock {
  font-family: 'Frutiger', sans-serif;
  color: #006BB6;
  font-size: 72px;
  text-align: center;
  /*padding-top: 1rem;
  padding-bottom: 1rem;*/
}

#clock2 {
  font-family: 'Frutiger', sans-serif;
  color: #006BB6;
  font-size: 72px;
  text-align: center;
  /*padding-top: 1rem;
  padding-bottom: 1rem;*/
}
