/* Google font */
@import url('https://fonts.googleapis.com/css?family=Inconsolata');

/*#clock {
  font-family: 'Frutiger', sans-serif;
  color: #114499;
  font-size: 72px;
  text-align: center;
}*/

/*#clock2 {
  font-family: 'Frutiger', sans-serif;
  color: #114499;
  font-size: 72px;
  text-align: center;
}*/

/* CSS Overrides */

.border-primary {
  border-color: #7ccce1 !important;
}

.border-secondary {
  border-color: #114499 !important;
}

.text-primary {
  color: #7ccce1 !important;
}

.text-secondary {
  color: #114499 !important;
}

.lead {
  font-size: 2rem;
}

/* CSS Animation */

.dot {
  height: 20px;
  width: 20px;
  background-color: #f8f9fa;
  border-radius: 50%;
  display: inline-block;
}

.blink_me {
  animation: blinker 2s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
